GLFW_ICON ICON "bpa_fog_engine.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "BPA"
      VALUE "FileDescription", "Fog Engine | A simple game engine"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "bpa_fog_engine"
      VALUE "LegalCopyright", "(c) 2024 BPA"
      //VALUE "OriginalFilename", "bpa_fog_engine.exe"
      VALUE "Fog Engine", "Fog Engine"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
